@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tillana";
  src: url("./assets/fonts/Tillana-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Tillana";
  src: url("./assets/fonts/Tillana-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Tillana";
  src: url("./assets/fonts/Tillana-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Tillana";
  src: url("./assets/fonts/Tillana-ExtraBold.ttf");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.text-gradient {
  background: linear-gradient(180deg, #fff742 0%, #ef7d2a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
